.header{
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Zen Kurenaido', sans-serif;
}

.pencilBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 500px;
    color: #EA584F;
    object-fit: cover;
}

.headerTitleSmall {
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.headerTitleLarge{
    position: absolute;
    top: 20%;
    font-size: 100px;
}