
.top{
    width: 100%;
    height: 100px;
    background-color: #D8C3A5;
    position: sticky;
    top: 0;
    align-items: center;
    font-family: 'Zen Kurenaido', sans-serif; 
    display: inline-flex;
}

.topLeft,.topRight{
    flex: 3;
}
.topRight {
    font-size: 25px;
    margin: 20px;
    padding: 0px;
    display: flex;
    justify-content: right;
}

.topCenter{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: right;
}

.topIcon {
    
    margin: 7px;
    font-size: 30px;
}


.topImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.topList {
    justify-content: left;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    list-style: none;
    font-weight: bolder;

}

.searchBox {
    border: none;
    border-radius: 10px;
    padding: 0;
    width: 15vw;
    align-self: left;
    background-color: #D8C3A5;
    color: black;
}

.searchBox:focus {
    outline: none;
}

.topSearchIcon {
    padding-right: 20px;
    padding-top: 5px;
}

.topImage {
    padding-top: 5px;
}