.navbar {
    font-family: "'Zen Kurenaido', sans-serif";
    font-size: 30px;
    color: #E85A4F;
    background-color: #D8C3A5;
}

.pencilIcon {
    font-size: 40px;
    padding-left: 10px;
    color: #E85A4F;
}