.Register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eae7dc;
    background-size: cover;
    align-items: center;
}

.regTitle {
    font-size: 50px;
}

.regForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.regForm > label {
    margin: 10px 0;
}

.regInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.regBtn {
    margin-top: 10px;
    cursor: pointer;
    background-color: #8E8D8A;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10;
}

.regLoginBtn {
    border-radius: 10px;
    background-color: #E85A4F;
    cursor: pointer;
    border: none;
    padding-right: 70px;
    padding-left: 70px;
    color: white;
}